[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

inflection = "*"
marshmallow = "==2.15.1"
requests = "*"
tqdm = "*"
networkx = "*"
matplotlib = "*"


[dev-packages]

Sphinx = "*"
pytest = "*"
pytest-cov = "*"
pandoc = "*"
pylint = "*"
udatetime = "*"
twine = "*"
"flake8" = "*"
rope = "*"
