[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

inflection = "*"
requests = "*"
tqdm = "*"
networkx = "*"
matplotlib = "*"
pandas = "*"
"fb569af" = {path = "./../SerializationLibrary"}
"56301b2" = {path = "../SerializationLibrary/", editable = true}


[dev-packages]

sphinx = "*"
pytest = "*"
pytest-cov = "*"
pandoc = "*"
pylint = "*"
udatetime = "*"
twine = "*"
rope = "*"
guzzle-sphinx-theme = "*"
vcrpy = "*"
