certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
idna==2.7
inflection==0.3.1
kiwisolver==1.0.1
marshmallow==2.15.1
matplotlib==3.0.1
networkx==2.2
numpy==1.15.3
pyparsing==2.2.2
python-dateutil==2.7.5
requests==2.20.0
six==1.11.0
tqdm==4.28.1
urllib3==1.24
